<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>

    <section class="vh-90 gradient-custom">
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="container py-1 h-90">
                <div class="row d-flex justify-content-center h-90">
                  <div class="col-12 col-md-12 col-lg-11 col-xl-11">
                    <div class="card bg-light text-dark" style="border-radius: 1rem;">
                      <div class="card-body" style="padding-left: 24px; padding-right: 24px; padding-top: 0; padding-bottom: 0;">
                        <div class="mb-md-4 mt-md-4">
                            
                                <h1 style="margin-bottom: 20px; text-align: center;">Account Details</h1>
                                <th:block th:if="${user.role=='ROLE_ADMIN'}">
                                    <form  th:action="@{/admin/updateprofile}" method="post" enctype="multipart/form-data">
                                </th:block>
                                <th:block th:if="${user.role=='ROLE_USER'}">
                                    <form  th:action="@{/user/updateprofile}" method="post" enctype="multipart/form-data">
                                </th:block>
                               
                                    <div class="row">
                                        

                                        <div class="col-md-6" style="margin-bottom: 30px;">
                                            <label for="fullname" style="font-weight: 500;">Full Name</label>
                                            <input class="form-control" type="text" th:value="${users.usename}"
                                                placeholder="Full Name" name="name">
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 30px;">
                                            <label for="fullname" style="font-weight: 500;">Mobile number</label>
                                            <input class="form-control" type="text" th:value="${users.phonenumber}"
                                                placeholder="Mobile" name="phonenumber">
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 30px;">
                                            <label for="fullname" style="font-weight: 500;">Email</label>
                                            <input class="form-control" type="text" th:value="${users.email}"
                                                placeholder="Email" name="email">
                                        </div>

                                        <div class="col-md-12">
                                            <button class="btn col-md-3 mb-3" type="submit" style="background-color: rgb(255, 145, 0); margin-top: 10px; font-weight: 600; color: white;">Update Account</button>
                                            <br><br>
                                        </div>
                                    </div>
                                </form>
                                <h4>Update Password</h4>
                                <form action="" th:action="@{/user/updatepassword}" method="post">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom: 30px;">

                                            <input class="form-control" type="password" placeholder="Current Password"
                                                name="currentPassword">
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 30px;">
                                            <input class="form-control" type="password" placeholder="New Password"
                                                name="newPassword">
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 30px;">
                                            <input class="form-control" type="password" placeholder="Confirm Password"
                                                name="confirmPassword">
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn col-md-3 mb-3" type="submit" style="background-color: rgb(255, 145, 0); margin-top: 10px; font-weight: 600; color: white;">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
                                    role="alert">
                                    <p class="text-center" th:text="${session.message.content}"></p>
                            </div>
                            <th:block th:text="${@sessionHelper.removemessagefromservice()}"></th:block>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </section>





    
     
</body>
</html>