<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
      
    </style>
</head>
<body>
    <section class="vh-90 gradient-custom">
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="container py-1 h-90">
                <div class="row d-flex justify-content-center h-90">
                  <div class="col-12 col-md-12 col-lg-11 col-xl-11">
                    <div class="card bg-light text-dark" style="border-radius: 1rem;">
                      <div class="card-body p-4">
                        <div class="mb-md-4 mt-md-4">
                          <a th:href="@{/admin/managecoupons/add}" style="margin: 20px 0; background-color: rgb(255, 145, 0); color: white; font-weight: 600;" class="btn">Add Coupon</a>
                          <h4 class="card-title">Coupon List</h4>
                            <!-- <div class="ms-4"><a th:href="@{/admin/restoredeletedproducts}" ><i class="fa-solid fa-trash-can-arrow-up"></i></a></div> -->
                            <div class="table-responsive">
                                
                                <table class="table table-bordered">
                                    <thead class="">
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">code</th>
                                            <th scope="col">StartDate</th>
                                            <th scope="col">EndDate</th>
                                            <th scope="col">CouponStatus</th>
                                            <th scope="col">CouponUsages</th>
                                            <th class="text-center" colspan="2" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="coupon,stat:${coupons}">
                                        <tr>
                                            <td th:text="${stat.index+1}"></td>
                                            <td  th:text="${coupon.code}"></td>
                                            <td 
                                                th:text="${coupon.startDate}"></td>
                                                <td 
                                                th:text="${coupon.endDate}"></td>
                                                <td th:text="${coupon.status}"></td>
                                                <td th:if="${coupon.couponUsages!=null}">
                                                    <ul th:each="coup:${coupon.couponUsages}">
                                                        <li>[[${coup.user.usename}]]</li>
                                                    </ul>
                                                </td>
                                                
                                                <td>
                                                    <form action="" th:action="@{/admin/removecoupons}" method="post">
                                                        <input type="hidden" th:value="${coupon.code}" name="CouponCode">
                                                        <button type="submit" style=" background-color: rgb(255, 145, 0); color: white; font-weight: 600;" class="btn">Delete</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form method="get" th:action="@{/admin/updateCoupon}" th:object="${coupon}">
                                                        <input type="hidden" th:value="${coupon.code}" name="CouponCode">
                                                        <button type="submit" style=" background-color: rgb(255, 145, 0); color: white; font-weight: 600;" class="btn">Update</button>
                                                    </form>
                                                </td>
                                                
                                        </tr>

                                    </tbody>
                                </table>

                                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
                                    role="alert">
                                    <p class="text-center" th:text="${session.message.content}"></p>
                                </div>
                                <th:block th:text="${@sessionHelper.removemessagefromservice()}"></th:block>
                            </div>

                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>

      
  </section>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3/dist/css/bootstrap.min.js"></script>
</body>
</html>